# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.zip

# Models
*.pkl
*.joblib

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
